export oauth2client_latest_TEST_JSON_KEY_PATH="tests/data/gcloud/application_default_credentials.json"
export oauth2client_latest_TEST_P12_KEY_PATH="tests/data/privatekey.p12"
export oauth2client_latest_TEST_P12_KEY_EMAIL="project-foo@developer.gserviceaccount.com"
export oauth2client_latest_TEST_USER_KEY_PATH="tests/data/gcloud/application_default_credentials_authorized_user.json"
export oauth2client_latest_TEST_USER_KEY_EMAIL="foo@gmail.com"
